<div class="layout-footer-body">
  <small class="version">Version 1.3.0</small>
  <small class="copyright">2017 &copy; Elephant By <a href="http://naksoid.com/">Naksoid</a></small>
</div><!-- /.layout-footer-body -->