<!DOCTYPE html>
<html ng-app="elephant">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elephant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- Main Style Sheets -->
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/elephant.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link rel="stylesheet" href="css/demo.min.css">
  </head>
  <body ng-controller="AppCtrl as app" ui-view="main">

    <div class="{{app.cssClasses}}" ng-class="{'layout-sidebar-collapsed': app.sidebar.isCollapsed}" ui-view></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIY_AZhSxKAooogZWGz4gtwhBDMa35Mes"></script>

    <!-- Main Scripts -->
    <script src="js/vendor/jquery/jquery.min.js"></script>
    <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="js/vendor/metismenu/metismenu.min.js"></script>
    <script src="js/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="js/vendor/greensock-js/plugins/CSSPlugin.min.js"></script>
    <script src="js/vendor/greensock-js/easing/EasePack.min.js"></script>
    <script src="js/vendor/greensock-js/TweenLite.min.js"></script>
    <script src="js/vendor/lodash/lodash.min.js"></script>

    <!-- Main Anglar Scripts-->
    <script src="js/vendor/angular/angular.min.js"></script>
    <script src="js/vendor/angular/angular-sanitize.min.js"></script>
    <script src="js/vendor/angular/angular-animate.min.js"></script>
    <script src="js/vendor/angular-ui/angular-ui-router.min.js"></script>
    <script src="js/vendor/angular-ui/angular-ui-bootstrap-tpls.min.js"></script>
    <script src="js/vendor/ocLazyLoad/ocLazyLoad.min.js"></script>

    <!-- App Anglar Scripts -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/demo.js"></script>
  </body>
</html>
