<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand navbar-brand-center" href="index.html">
            <img class="navbar-brand-logo"  src="img/logo1.png" alt="Ekademi">
        </a>
        <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
            <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
        </button>
        <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="arrow-up"></span>
            <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="img/0180441436.jpg" alt="Teddy Wilson">
            </span>
        </button>
    </div>
    <div class="navbar-toggleable">
        <nav id="navbar" class="navbar-collapse collapse">
            <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
            </button>
            <ul class="nav navbar-nav navbar-right">
                <li class="visible-xs-block">
                    <h4 class="navbar-text text-center">Hi, Teddy Wilson</h4>
                </li>
                <li class="hidden-xs hidden-sm">
                    <form class="navbar-search navbar-search-collapsed">
                        <div class="navbar-search-group">
                            <input class="navbar-search-input" type="text" placeholder="Dersler, ödevler ve fazlası için&hellip;">
                            <button class="navbar-search-toggler" title="Expand search form ( S )" aria-expanded="false" type="submit">
                                <span class="icon icon-search icon-lg"></span>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-envelope-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">3</span>
                  </span>
                        <span class="visible-xs-block">
                    <span class="icon icon-envelope icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">8</span>
                    Messages
                  </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                        <div class="dropdown-header">
                            <a class="dropdown-link" href="compose.html">Yeni Mesaj</a>
                            <h5 class="dropdown-heading">Son mesajlar</h5>
                        </div>
                        <div class="dropdown-body">
                            <div class="list-group list-group-divided custom-scrollbar">
                                <a class="list-group-item" href="#">
                                    <div class="notification">
                                        <div class="notification-media">
                                            <img class="rounded" width="40" height="40" src="img/studentimg4.jpg" alt="Harry Jones">
                                        </div>
                                        <div class="notification-content">
                                            <small class="notification-timestamp">16 dk</small>
                                            <h5 class="notification-heading">Alper San</h5>
                                            <p class="notification-text">
                                                <small class="truncate">Merhaba, projenin bittiğini haber vermek istedim! Haftaya plan yapmaya başlamalıyız.</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item" href="#">
                                    <div class="notification">
                                        <div class="notification-media">
                                            <img class="rounded" width="40" height="40" src="img/studentimg2.png" alt="Daniel Taylor">
                                        </div>
                                        <div class="notification-content">
                                            <small class="notification-timestamp">2 saat</small>
                                            <h5 class="notification-heading">Pelin Kalaycıoğlu</h5>
                                            <p class="notification-text">
                                                <small class="truncate">Merhaba, yürüttüğümüz projenin son durumu için senden haber bekliyorum.</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item" href="#">
                                    <div class="notification">
                                        <div class="notification-media">
                                            <img class="rounded" width="40" height="40" src="img/studentimg3.png" alt="Charlotte Harrison">
                                        </div>
                                        <div class="notification-content">
                                            <small class="notification-timestamp">20 Nis</small>
                                            <h5 class="notification-heading">Tuğrul Çiltaş</h5>
                                            <p class="notification-text">
                                                <small class="truncate">Merhaba Umut, Pazar günü olan buluşmamızın projeye kattığı artıları konuşabilir miyiz ?</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown-footer">
                            <a class="dropdown-btn" href="#">Hepsini Gör</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-bell-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">3</span>
                  </span>
                        <span class="visible-xs-block">
                    <span class="icon icon-bell icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">3</span>
                    Notifications
                  </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                        <div class="dropdown-header">
                            <a class="dropdown-link" href="#">Hepsini okundu olarak işaretle</a>
                            <h5 class="dropdown-heading">Son bildirimler</h5>
                        </div>
                        <div class="dropdown-body">
                            <div class="list-group list-group-divided custom-scrollbar">
                                <a class="list-group-item" href="#">
                                    <div class="notification">
                                        <div class="notification-media">
                                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                                        </div>
                                        <div class="notification-content">
                                            <small class="notification-timestamp">35 dk</small>
                                            <h5 class="notification-heading">Ödev güncellemesi</h5>
                                            <p class="notification-text">
                                                <small class="truncate">FIZ 2002 laboratuvar ödev tarihi 15/05/2017 olarak değiştirildi.</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item" href="#">
                                    <div class="notification">
                                        <div class="notification-media">
                                            <span class="icon icon-flag bg-success rounded sq-40"></span>
                                        </div>
                                        <div class="notification-content">
                                            <small class="notification-timestamp">43 dk</small>
                                            <h5 class="notification-heading">Sınıf değişikliği</h5>
                                            <p class="notification-text">
                                                <small class="truncate">20/05/2017 tarihinde yapılacak olan GMIM3204 dersinin sınav salonu T-203 olarak değiştirildi.</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item" href="#">
                                    <div class="notification">
                                        <div class="notification-media">
                                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                                        </div>
                                        <div class="notification-content">
                                            <small class="notification-timestamp">1 saat</small>
                                            <h5 class="notification-heading">Hatalı giriş denemesi</h5>
                                            <p class="notification-text">
                                                <small class="truncate">"192.98.19.164" numaralı IP adresinden hatalı giriş denemesi yapıldı.</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown-footer">
                            <a class="dropdown-btn" href="#">Hepsini gör</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown hidden-xs">
                    <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                        <img class="rounded" width="36" height="36" src="img/studentimg1.png" alt="Teddy Wilson"> Umut Taymaz
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="_inbox_index.html">
                                <h5 class="navbar-upgrade-heading">
                                    Mesajlar
                                </h5>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="navbar-upgrade-version">Version: 0.01</li>
                        <li class="divider"></li>
                        <li><a href="_profile_index.html">Profil</a></li>
                        <li><a href="logout.html">Çıkış Yap</a></li>
                    </ul>
                </li>
                <li class="visible-xs-block">
                    <a href="_profile_index.html">
                        <span class="icon icon-user icon-lg icon-fw"></span>
                        Profil
                    </a>
                </li>
                <li class="visible-xs-block">
                    <a href="logout.html">
                        <span class="icon icon-power-off icon-lg icon-fw"></span>
                        Çıkış Yap
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>