<div class="layout-header" ui-view="innerHeader">
  <!-- Header partial -->
</div>

<div class="layout-sidebar" ui-view="innerSidebar">
  <!-- Sidebar partial -->
</div>

<div class="layout-content" ui-view="innerMain">
  <!-- Content partial -->
</div>

<div class="layout-footer" ui-view="innerFooter">
  <!-- Footer partial -->
</div>

