<div class="layout-content-body">
    <div class="row">
        <div class="title-bar">
            <div class="col-md-12 col-lg-9">
                <div class="card bg-primary">
                    <div class="card-body" data-toggle="match-height">
                        <div class="media-middle media-body">
                            <h4 class="media-heading">ECO 101</h4>
                            <h2 class="media-heading">
                                <span class="fw-l">Introduction to Economics<br> &nbsp;</span>
                            </h2>
                            <h4 class="media-heading">
                                <span class="fw-l">Prof. Dr. Ahmet Zor</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="card bg-gray">
                    <div class="card-body"  data-toggle="match-height">
                        <div class="media-middle media-body">
                            <div class="media-heading">
                                <h4>Gelecek Ders:</h4>
                            </div>
                            <h2 class="media-heading">
                                <span>19 Mayıs 2017</span>
                            </h2>
                            <h4 class="media-heading">
                                <span>Çarşamba 13:00</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gutter-xs">
        <div class="panel m-b-lg">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#discussion" data-toggle="tab" aria-expanded="true"><h4>Tartışma</h4></a></li>
                <li class=""><a href="#homework" data-toggle="tab" aria-expanded="false"><h4>Ödev</h4></a></li>
                <li class=""><a href="#documents" data-toggle="tab" aria-expanded="false"><h4>Dökümanlar</h4></a></li>
                <li class=""><a href="#notes" data-toggle="tab" aria-expanded="false"><h4>Puanlar</h4></a></li>
                <li class=""><a href="#groups" data-toggle="tab" aria-expanded="false"><h4>Gruplar</h4></a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="discussion">
                    <a href="_discussion_create.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-success" data-toggle="match-height">
                                <div class="" style="height: 100%"><span class="icon icon-plus icon-5x" style="position: relative; top:25%;left:40%"></span></div>
                            </div>
                        </div>
                    </a>

                    <a href="_discussion_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-success" data-toggle="match-height">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Matematik ödevi ne zaman ?
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="_discussion_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-success" data-toggle="match-height">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Ingilizce sınavı hangi tarihte ?
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="_discussion_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-success" data-toggle="match-height">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Alias cupiditate nostrum voluptatem
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="_discussion_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-success" data-toggle="match-height">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Alias architecto assumenda
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="tab-pane fade" id="homework">
                    <a href="_homework_create.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-warning" data-toggle="match-height">
                                <div class="" style="height: 100%"><span class="icon icon-plus icon-5x" style="position: relative; top:25%;left:40%"></span></div>
                            </div>
                        </div>
                    </a>
                    <a href="_homework_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-warning" data-toggle="match-height">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            TBB Grafik Çizimi
                                        </div>
                                        <div class="media-middle media-right">
                                            <span class="icon icon-user icon-2x media-object img-circle"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                        <div class="progress progress-lg">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                <span class="sr-only">%32 Complete (success)</span>
                                                <div class="progress-value">%32</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="_homework_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-warning" data-toggle="match-height">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Ileri ingilizce sunum
                                        </div>
                                        <div class="media-middle media-right">
                                            <span class="icon icon-users icon-2x media-object img-circle"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                        <div class="progress progress-lg">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="19" aria-valuemin="0" aria-valuemax="100" style="width: 19%">
                                                <span class="sr-only">%19 Complete (success)</span>
                                                <div class="progress-value">%19</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="_homework_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-warning" data-toggle="match-height">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Türkçe sunum
                                        </div>
                                        <div class="media-middle media-right">
                                            <span class="icon icon-users icon-2x media-object img-circle"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                        <div class="progress progress-lg">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                                                <span class="sr-only">%62 Complete (success)</span>
                                                <div class="progress-value">%62</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="tab-pane fade" id="documents">
                    <li class="file">
                        <a class="file-link" href="#" title="file-name.doc">
                            <div class="file-thumbnail file-thumbnail"></div>
                            <div class="file-info">
                                <span class="file-ext">doc</span>
                                <span class="file-name">ADD</span>
                            </div>
                        </a>
                    </li>
                    <li class="file">
                        <a class="file-link" href="#" title="file-name.pdf">
                            <div class="file-thumbnail file-thumbnail-pdf"></div>
                            <div class="file-info">
                                <span class="file-ext">pdf</span>
                                <span class="file-name">turkce-sunum.</span>
                            </div>
                        </a>
                    </li>
                    <li class="file">
                        <a class="file-link" href="#" title="file-name.doc">
                            <div class="file-thumbnail file-thumbnail-doc"></div>
                            <div class="file-info">
                                <span class="file-ext">doc</span>
                                <span class="file-name">dosya-adi.</span>
                            </div>
                        </a>
                    </li>
                    <li class="file">
                        <a class="file-link" href="img/1099386850.jpg" title="1099386850.jpg" download="1099386850.jpg">
                            <div class="file-thumbnail" style="background-image: url(img/1099386850.jpg)"></div>
                            <div class="file-info">
                                <span class="file-ext">jpg</span>
                                <span class="file-name">fotograf.</span>
                            </div>
                        </a>
                    </li>
                    <li class="file">
                        <a class="file-link" href="#" title="file-name.zip">
                            <div class="file-thumbnail file-thumbnail-zip"></div>
                            <div class="file-info">
                                <span class="file-ext">zip</span>
                                <span class="file-name">zipdosyasi.</span>
                            </div>
                        </a>
                    </li>
                    <li class="file">
                        <a class="file-link" href="#" title="file-name.xls">
                            <div class="file-thumbnail file-thumbnail-xls"></div>
                            <div class="file-info">
                                <span class="file-ext">xls</span>
                                <span class="file-name">dosya-adi.</span>
                            </div>
                        </a>
                    </li>
                </div>
                <div class="tab-pane fade" id="notes">

                </div>
                <div class="tab-pane fade" id="groups">
                    <a href="_group_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-facebook">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Kimya Laboratuvarı
                                        </div>

                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="_group_show.html">
                        <div class="col-md-4 col-lg-3">
                            <div class="card bg-facebook">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-middle media-body">
                                            Fizik Laboratuvarı
                                        </div>

                                    </div>
                                </div>
                                <div class="card-body" data-toggle="match-height">
                                    <div class="media-middle media-body">
                                        <h5 class="media-heading">
                                            <span class="fw-l">Alias cupiditate nostrum voluptatem. Alias architecto assumenda quae tempora temporibus.<br> &nbsp;</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>