<div class="layout-content-body">
    <div class="title-bar">

        <a ui-sref="dashboard.studentCourseShow"><div class="col-md-4 col-lg-4">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="media-middle media-body">
                        <h6 class="media-heading">ECO 101</h6>
                        <h3 class="media-heading" data-toggle="match-height">
                            <span class="fw-l">Introduction to Economics<br> &nbsp;</span>
                        </h3>
                        <h6 class="media-heading">
                            <span class="fw-l">Prof. Dr. Ahmet Zor</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="_course_show.html"><div class="col-md-4 col-lg-4">
            <div class="card bg-info">
                <div class="card-body">
                    <div class="media-middle media-body">
                        <h6 class="media-heading">ECO 102</h6>
                        <h3 class="media-heading" data-toggle="match-height">
                            <span class="fw-l">Introduction to Marketing<br> &nbsp;</span>
                        </h3>
                        <h6 class="media-heading">
                            <span class="fw-l">Prof. Dr. Ahmet Zor</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="_course_show.html"><div class="col-md-4 col-lg-4">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="media-middle media-body">
                        <h6 class="media-heading">ECO 103</h6>
                        <h3 class="media-heading" data-toggle="match-height">
                            <span class="fw-l">Introduction to Business<br> &nbsp;</span>
                        </h3>
                        <h6 class="media-heading">
                            <span class="fw-l">Prof. Dr. Ahmet Kolay</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="_course_show.html"><div class="col-md-4 col-lg-4">
            <div class="card bg-warning">
                <div class="card-body" >
                    <div class="media-middle media-body">
                        <h6 class="media-heading">ECO 201</h6>
                        <h3 class="media-heading" data-toggle="match-height">
                            <span class="fw-l">Introduction to Social Research</span>
                        </h3>
                        <h6 class="media-heading">
                            <span class="fw-l">Yar. Doç. Dr. Galip Devran</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="_course_show.html"><div class="col-md-4 col-lg-4">
            <div class="card bg-facebook">
                <div class="card-body">
                    <div class="media-middle media-body">
                        <h6 class="media-heading">ECO 203</h6>
                        <h3 class="media-heading" data-toggle="match-height">
                            <span class="fw-l">Entrepreneur Innovation Managament</span>
                        </h3>
                        <h6 class="media-heading">
                            <span class="fw-l">Doç. Dr. Tuğçe Galeyan</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="_course_show.html"><div class="col-md-4 col-lg-4">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="media-middle media-body">
                        <h6 class="media-heading">ECO 302</h6>
                        <h3 class="media-heading" data-toggle="match-height">
                            <span class="fw-l">Vergi Hukuku</span>
                        </h3>
                        <h6 class="media-heading">
                            <span class="fw-l">Prof. Dr. Sibel Alacak</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div></a>

        <div class="col-xs-12 col-md-6">
            <div class="panel panel-body" data-toggle="match-height">
                <h4>ECO 101</h4>
                <div class="m-b-sm">
                    <small class="pull-right">Teslim Tarihi: 24/07/2017</small>
                    <small>Introduction to Economics.</small>
                </div>
                <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                        <span class="sr-only">%32 Complete (success)</span>
                        <div class="progress-value">%32</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-body" data-toggle="match-height">
                <h4>ECO 102</h4>
                <div class="m-b-sm">
                    <small class="pull-right">Teslim Tarihi: 02/06/2017</small>
                    <small>Introduction to Marketing</small>
                </div>
                <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width: 24%">
                        <span class="sr-only">%24 Complete (success)</span>
                        <div class="progress-value">%24</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-body" data-toggle="match-height">
                <h4>ECO 103</h4>
                <div class="m-b-sm">
                    <small class="pull-right">Teslim Tarihi: 09/07/2017</small>
                    <small>Introduction to Business</small>
                </div>
                <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 24%">
                        <span class="sr-only">%10 Complete (success)</span>
                        <div class="progress-value">%10</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-body" data-toggle="match-height">
                <h4>ECO 302</h4>
                <div class="m-b-sm">
                    <small class="pull-right">Teslim Tarihi:06/05/2017</small>
                    <small>Vergi Hukuku</small>
                </div>
                <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">%90 Complete (success)</span>
                        <div class="progress-value">%90</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>