<div class="layout-sidebar-backdrop"></div>
<div class="layout-sidebar-body">
    <div class="custom-scrollbar">
        <nav id="sidenav" class="sidenav-collapse collapse">
            <ul class="sidenav">
                <li class="sidenav-heading">Navigasyon</li>
                <li class="sidenav-item">
                    <a href="_homepage.html">
                        <span class="sidenav-icon icon icon-calendar"></span>
                        <span class="sidenav-label">Anasayfa</span>
                    </a>
                </li>
                <li class="sidenav-item has-subnav">
                    <a href="#" aria-haspopup="true">
                        <span class="sidenav-icon icon icon-book"></span>
                        <span class="sidenav-label">Dersler</span>
                    </a>
                    <ul class="sidenav-subnav collapse">
                        <li class="sidenav-subheading">Introduction to Economics</li>
                        <li><a href="_course_show.html">Introduction to Marketing</a></li>
                        <li><a href="_course_show.html">Introduction to Business</a></li>
                        <li><a href="_course_show.html">Introduction to Social Research</a></li>
                        <li><a href="_course_show.html">Entrepreneur Innovation Managament</a></li>
                        <li><a href="_course_show.html">Vergi Hukuku</a></li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a href="_calendar_index.html">
                        <span class="sidenav-icon icon icon-calendar"></span>
                        <span class="sidenav-label">Takvim</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="_homework_index.html">
                        <span class="sidenav-icon icon icon-eraser"></span>
                        <span class="sidenav-label">Ödev</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="_discussion_index.html">
                        <span class="sidenav-icon icon icon-comments"></span>
                        <span class="sidenav-label">Tartışma</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="_group_index.html">
                        <span class="sidenav-icon icon icon-group"></span>
                        <span class="sidenav-label">Grup</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="_club_index.html">
                        <span class="sidenav-icon icon icon-circle-o"></span>
                        <span class="sidenav-label">Kulüp</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="_document_index.html">
                        <span class="sidenav-icon icon icon-file"></span>
                        <span class="sidenav-label">Döküman</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="#">
                        <span class="sidenav-icon icon icon-line-chart"></span>
                        <span class="sidenav-label">Başarı Durumu</span>
                    </a>
                </li>


            </ul>
        </nav>
    </div>
</div>